.field-error .control-label,
.field-error .help-block,
.field-error .form-control-feedback {
    color: red;
}

.field-success .control-label,
.field-success .help-block,
.field-success .form-control-feedback {
    color: #2780e3;
}

body{
    color: #a14148;
    font-weight: bold;
    
}
input{
    border:1.2px solid #a14148;
    border-radius: 5px;
    height: 35px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.right-addon .glyphicon { right: 0px;}


.changethisone span{
    background-color: #FFF;
}

.changethisone input{
    border-right-style:none;
}



.name, .email {
    width : 100%;
}

.address1{
    padding-left: 0px;
}
#address1{
    width:100%;
}
.ozip{
    padding-right: 0px;
}
.zip{
    width:100%;
    margin-right:0px; 
}
.city , .state, .country {
    width:100%;
}
.leftcity{
    padding-left: 0px;
    
}
.rightcountry {
    padding-right:0px;
}
.myblock{
    padding-top: 5px;
    padding-bottom: 10px; 
    
}
.addressblock, .stateblock{
    padding-bottom: 20px;
}
#submit,#reset {
    margin-top: 10px;
    padding-right:5px;
}


.inner-addon { 
    position: relative; 
}


#mybox{
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    
    color: #666;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid black;
    margin-top: 5px;
}

.name {
    font-size: 30px;
    border-bottom: 2px solid #888;
    margin-bottom: 20px;
}
.name:first-letter {
    font-size: 300%;
}

.label {
    width: 70px;
    font-weight: bold;
}

.label, .phone, .mobile, .email {
    display: inline-block;
}

.edit {
        position: absolute;
        top: 10px;
        right: 50px;
        
        width: 25px;
        height: 25px;
        
        cursor: pointer;
    }
.delete {
        position: absolute;
        top: 10px;
        right: 10px;
        
        width: 25px;
        height: 25px;
        
        cursor: pointer;
    }